@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400; 
}

:root{
  --black: #071E22;
  --grey: #A0A0A0;
  --blue: #6E7DAB;
}