.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 75vh;
    color: var(--black);
}

.logo{
    font-size: 20px;
}

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:60rem;
    margin-top: 1rem;
}

.searching {
    display: flex;
    flex-direction: row;
    width: 16rem;
    justify-content: space-between;
}

.searchBar{
    width: 10rem;
    height: 3rem;
    border-radius: 1.875rem;
    border: 1px solid var(--black);
    text-align: center;
}

.submit {
    width: 5rem;
    height: 3rem;
    border-radius: 2rem;
    border: 1px solid var(--black);
    text-align: center;
    background-color: transparent; 
}


.intro{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 18rem;
    font-size: 30px;
}

.currentContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    gap: 20rem;
}

.currentWind{
    text-align: end;
}
  
.fiveContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45rem;
    height: 30rem;
    border-radius: 2rem;
    margin-top: 1rem;
    padding: 2rem;
    border: 1.5px solid var(--black);
}

.dateIcon{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.currentIcon{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}
.forecast{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.currentLocContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 16rem;
}

.dailyContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 18rem;
    border-bottom: 1px solid var(--grey); 
}

.dayContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20rem;
  }

.dayContainer > p{
font-size: 14px;
}

.dailyCelsius{
    text-align: end;
    font-size: 20px;
    width: 5rem;
    color: var(--blue);
}

.footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 63rem;
    margin-top: 1rem;
    color: var(--grey);
}

.kmh {
    color: var(--grey);
    font-size: 15px;
    margin-top: -5px;
}

.currentLocation{
    font-size: 20px;
}
.currentDegree{
    color: var(--blue);
    font-size: 20px;
}

